@font-face {
    font-family: "IPGA";
    src: url('ipaexg.ttf');
}

body {
    line-height: 1.2;
    font-family: 'IPGA';
    background-color: white;
}

nav {
    width: 100vw;
    height: 6vh;
}

.div_center {
    margin-left: 17%;
    margin-top: 2%;
}

.example_c {
    color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    overflow:hidden;
    width: 3em;
    height: 30px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.example_c:hover {
    color: #ffffff !important;
    padding-right: 90px;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.6s ease 0s;
}

.example_c:hover span {
    color: #ffffff !important;
    padding-right: 35px;
    transition: all 0.6s ease 0s;
}

.fs {
    width: 430px;
    padding-bottom: 3px;
    margin-right: 1%;
}

.fs2 {
    width: 430px;
    height: 180px;
    padding-bottom: 3px;
    margin-right: 1%;
}

.fs3 {
    width: 870px;
    height: 280px;
    padding-bottom: 3px;
    margin-right: 1%;
}

.fs4 {
    width: 96vw;
    height: 4640px;
    padding-bottom: 3px;
    margin-right: 1%;
}

fieldset {
    border: solid 1px black;
    display: flex;
    padding-right: 15px;
    padding-bottom: 10px;
}

legend {
    font-size: 18px;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.nav_buttom {
    position: fixed;
    bottom: 5px;
    right: 15px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(0, 162, 255);
    z-index: 1;
}

.div6s {
    border-style: groove;
    border-color: rgba(35, 148, 223, 0.733);
    width: 630px;
    height: 500px;
    margin-left: 1%;
    background-color: #bebebe41;
    border-left: solid 8px #ad1400;
    padding: 15px;
    margin-bottom: 5px;
}

.pic {
    width: 175;
    height: 250;
}

.margin18 {
    margin-left: 18%;
}

.margin22 {
    margin-left: 22%;
}

.margin24 {
    margin-left: 24%;
}

.remh {
    margin-left: 5%;
    height: 220px;
}

@media only screen and (max-width: 600px) {

    .div6s {
        margin-left: 5px;
        margin-right: -10px;
        height: 500px;
    }

    .remh {
        position: relative;
        padding-top: 110px;
        height: 220px;
    }

    img.pic { 
        width: 85px;
        height: 120px; 
    }

    .mgl_text {
        margin-left: 0;
        padding-top: -110px;
    }

    .margin18 {
        margin-left: 13%;
    }
    
    .margin22 {
        margin-left: 18%;
    }
    
    .margin24 {
        margin-left: 18%;
    }

    .fs4 {
        width: 96vw;
        height: 8700px;
        padding-bottom: 3px;
    }

    .div_center {
        margin-left: 0%;
        margin-top: 1%;
    }

    .fs {
        margin-left: 1vw;
        margin-right: 1vw;
        width: 96vw;
        margin-bottom: 1vh;
        padding-bottom: 5px;
    }

    .fs3 {
        margin-left: 1vw;
        margin-right: 1vw;
        width: 96vw;
        height: 55vh;
        margin-bottom: 1vh;
        padding-bottom: 15px;
    }

    .mgl1 {
        margin-left: 2%;
    }

    .mgl2 {
        margin-left: 2%;
        margin-bottom: 2vh;
    }

}
